{% extends "base.html" %}
{% load static %}
{% block 'titulo' %}Desafio {% endblock %}

{% block 'conteudo' %}
<section id="first-board" class="bg-white vh-min-100 list-me z-2 p-rel pt-5 reveal l-fade-scroll lazy">
                    <div class="container p-5" id="quem_somos">

                        <div class="row">
                            <div class="col-12 ml-2 text-center">
                                <h2 class="t-orange menu-title">Instruções do Desafio</h2>
                                <div class="divisor bg-grey mb-5 mt-3"></div>
                                {% if url == 'defesa' %}
                                    {% if categoria.nome == 'SQL Injection' %}
                                        <p>O desafio irá durar 1 hora!</p>
                                        <p>Você que proteger nossa aplicação contra ataques de SQL Injection (INSERT, DELETE, UPDATE, SELECT) durante o desafio!</p>
                                        <p>Quanto mais tempo defender, mais pontos ganhará!</p>
                                        <p>Não saia dessa página, ou seus pontos não serão contabilizados!</p>
                                    {% endif %}
                                Hora de Inicio:<br> {{desafio.inicio_jogo.hour}}:{{desafio.inicio_jogo.minute}}<br>
                                Hora de Fim: <div id="date_fim">{{desafio.fim_jogo.hour}}:{{desafio.fim_jogo.minute}}</div><br>
                                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                                    Tempo Restante: <div id="sessao"></div>

                                    <script language="javascript">
var tempo = new Number();
  // Tempo em segundos
            console.log(document.getElementById('date_fim').innerHTML);
            var hms = document.getElementById('date_fim').innerHTML;
            var a  = hms.split(':');
            var minutes = (+a[0]) * 60 + (+a[1]);
            var d = new Date();
            var n = d.getHours();
            var m = d.getMinutes();
            var at = n+":"+m;
            var b  = at.split(':');
            var minutes_at = (+b[0]) * 60 + (+b[1]);
            var mm = (parseInt(minutes) - parseInt(minutes_at))*60;
            console.log(mm);
  tempo = mm;
  function startCountdown(){


    // Se o tempo não for zerado
    if((tempo - 1) >= 0){

      // Pega a parte inteira dos minutos
      var min = parseInt(tempo/60);
      // Calcula os segundos restantes
      var seg = tempo%60;

      // Formata o número menor que dez, ex: 08, 07, ...
      if(min < 10){
        min = "0"+min;
        min = min.substr(0, 2);
      }
      if(seg <=9){
        seg = "0"+seg;
      }

      // Cria a variável para formatar no estilo hora/cronômetro
      horaImprimivel = '00:' + min + ':' + seg;
      //JQuery pra setar o valor
      $("#sessao").html(horaImprimivel);

      // Define que a função será executada novamente em 1000ms = 1 segundo
      setTimeout('startCountdown()',1000);

      // diminui o tempo
      tempo--;

      // Quando o contador chegar a zero faz esta ação
    } else {
      window.open('../controllers/logout.php', '_self');
    }

  }

  // Chama a função ao carregar a tela
  startCountdown();
</script>

                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
</section>

{% endblock 'conteudo' %}