{% extends "base.html" %}
{% load static %}
{% block 'titulo' %}Ranking {% endblock %}

{% block 'conteudo' %}
<section id="first-board" class="bg-white vh-min-100 list-me z-2 p-rel pt-5 reveal l-fade-scroll lazy">
                    <div class="container p-5" id="quem_somos">

                        <div class="row">
                            <div class="col-12 ml-2 text-center">
                                <h2 class="t-orange menu-title">Ranking</h2>
                                <div class="divisor bg-grey mb-5 mt-3"></div>
                            </div>
                        </div>
                    </div>
</section>
{% endblock 'conteudo' %}