{% extends "base.html" %}
{% load static %}
{% block 'titulo' %}SQL Injection {% endblock %}

{% block 'conteudo' %}
<section id="first-board" class="bg-white vh-min-100 list-me z-2 p-rel pt-5 reveal l-fade-scroll lazy">
                    <div class="container p-5" id="quem_somos">

                        <div class="row">
                            <div class="col-12 ml-2 text-center">
                                <h2 class="t-orange menu-title">Entenda SQL Injection</h2>
                                <div class="divisor bg-grey mb-5 mt-3"></div>

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {box-sizing: border-box}
body {font-family: "Lato", sans-serif;}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #fffff;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #00aeef;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}
</style>
</head>

<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'London')" id="defaultOpen">O Ataque</button>
  <button class="tablinks" onclick="openCity(event, 'Paris')">Consequências</button>
  <button class="tablinks" onclick="openCity(event, 'Tokyo')">Prevenção</button>
  <button class="tablinks" onclick="openCity(event, 'Links')">Links Úteis</button>
</div>

<div style="overflow:auto" id="London" class="tabcontent">
  <br><h3>SQL Injection</h3><br>
  <p>O SQL Injection é o nome dado a uma falha na codificação de uma aplicação qualquer (seja web ou local) que possibilita, por meio de um input qualquer, a manipulação de uma consulta SQL. Essa manipulação é chamada Injeção, então, o termo Injeção SQL. Resumindo: o SQL Injection é uma técnica de ataque baseada na manipulação do código SQL, que é a linguagem utilizada para troca de informações entre aplicativos e bancos de dados relacionais. </p>
  <p>De acordo com o Lacking Faces, "pense em SQL Injection como uma simples falha lógica, é simplesmente uma falha que, por deixar aberta a interpretações, ocorrem manipulações indesejáveis". .</p>
</div>

<div style="overflow:auto" id="Paris" class="tabcontent">
  <br><h3>Principais Consequências</h3><br>
  <p>Com os ataques de SQL Injection, os criminosos podem ter acesso a qualquer tipo de dado sigiloso mantido no servidor: dados pessoais, comerciais, informações de clientes ou mesmo senhas e detalhes de cartão de crédito. Isso tudo porque uma vulnerabilidade que permita o ataque pode afetar qualquer site que use um banco de dados SQL. </p>
  <p>As vulnerabilidades também podem ser usadas pelos invasores para desconsiderar as medidas de segurança do aplicativo. Em determinadas situações, os criminosos também podem agir de forma a comprometer o servidor ou uma infraestrutura de back-end.</p>
  <p>Acessar os servidores com o SQL pode ser o primeiro passo para que, posteriormente, seja realizado o ataque à rede interna. Dependendo do nível de permissões disponíveis, é possível até instalar um ransomware em sistemas comprometidos.</p>
  <p>Além disso, os invasores também podem:

– autenticar e autorizar um aplicativo ou página da web;

– recuperar o conteúdo do banco de dados;

– utilizar o ataque para adicionar, excluir e modificar, permanentemente, registros nos bancos de dados. </p>
</div>

<div style="overflow:auto" id="Tokyo" class="tabcontent">
    {% if url == 'defesa' %}
      <br><h3>Como Previnir</h3><br>
    <p>De acordo com a OWASP as melhores práticas para se previnir de um ataque de SQLi são:

Parametrização das consultas

Usar “stored procedures”

Escapar toda entrada fornecida pelo usuário

Limitar privilégios aos acessos

Usando a função addslashes() tem o mesmo efeito que habilitar magic quotes, porém só aplica onde for conveniente. O que ela faz é colocar um caracter de escapa antes das aspas simples ou dupla, antes da barra invertida e do caracter NULL.

Usar ‘prepared statements’ ao invés do próprio código SQL atribuíndo todas as outras medidas de prevenção usar esta, nos daria mais performace e segurança, além de ser mais simples de ler e escrever.

Porem só pode ser usado em SELECT, INSERT, UPDATE, REPLACE, DELETE e CREATE TABLE.

$login = $_GET[‘login’] $query = “SELECT * FROM registos WHERE login = ‘$login'”;

Ficaria assim:

$query = “SELECT * FROM registos WHERE login = OR 1”;

Recomendamos Limitar Privilégios das contas com acesso ao DB. É importante manter apenas os privilégios e acessos necessários. É comum muitas permissões serem dadas para resolver problemas de funcionalidade, muito parecido ao chmod 777 no linux.

Para se proteger do SQL Injection verifique se todo parâmetro passado para o site é tratado antes que seja concatenado na query. </p>
      <p>Existem várias maneiras de prevenção contra SQL Injection que o usuário pode adotar para se proteger, como:</p>
        <li>Prepared Statements no banco de dados</li>
        <li>Proteger as entradas dos sites</li>
        <li>Usando Django como exemplo: Contato.objects.annotate(nome_completo=campos).filter(Q(nome_completo__icontains=termo) | Q(telefone__icontains=termo), mostrar=True) </li>
    {% endif%}
</div>

<div style="overflow:auto" id="Links" class="tabcontent">
  <br><h3>Links Úteis</h3><br>
  <p>Para efetuar testes de senhas: <a style="color: blue" href="https://testedesenha.com.br/">https://testedesenha.com.br/</a></p>
  <p>Artigo sobre senhas: <a style="color: blue" href="https://blogac.me/por-que-a-complexidade-das-senhas-e-tao-importante-para-sua-organizacao/">https://blogac.me/</a></p>
</div>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>

                                </div>
                            </div>
                        </div>
                    </div>
</section>
{% endblock 'conteudo' %}