{% extends "base.html" %}
{% load static %}
{% block 'titulo' %}Jogar {% endblock %}

{% block 'conteudo' %}
<section id="first-board" class="bg-white vh-min-100 list-me z-2 p-rel pt-5 reveal l-fade-scroll lazy">
                    <div class="container p-5" id="quem_somos">

                        <div class="row">
                            <div class="col-12 ml-2 text-center">
                                <h2 class="t-orange menu-title">Instruções do Jogo</h2>
                                <div class="divisor bg-grey mb-5 mt-3"></div>

                                <div class="row mt-5 justify-content-center">
                                    <div class="col-sm-6 col-12 py-5 ">
                                        <div class="f-concert-one t-gray font-18px text-justify">

                                            <p>1° passo: Escolha uma das categorias abaixo para jogar!</p>
                                            <p>2° passo: Selecione um jogador para ser desafiado!</p>
                                            <p>3° passo: Fique atento para o aceite do jogador, assim que o jogo for aceito ele será iniciado!</p>
                                            <p>4° passo: Novas instruções serão dadas após o inicio do Game!! Boa diversão e bons estudos!</p>

                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-12 py-5  text-justify">
                                        <div class="f-concert-one t-gray font-18px">

                                            <p>DICAS: Veja nossos passos-a-passos de defesas clicando nas imagens dos carrosseis na página inicial do site. Se defenda o máimo de tempo possível para ganhar mais pontos e subir no ranking</p>

                                  </div>
                                    </div>
                                    <div class="col-sm-10 col-12 py-5 text-center ">
                                        <div class="f-concert-one t-gray font-18px">

                                            <a href="{% url 'jogar_ddos' %}"><button type="button" class="btn btn-primary">DDoS</button></a>
                                            <a href="{% url 'jogar_brute' %}"><button type="button" class="btn btn-primary">BruteForce</button></a>
                                            <a href="{% url 'jogar_sql' %}"><button type="button" class="btn btn-primary">SQL InJection</button></a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</section>
{% endblock 'conteudo' %}