<div id="login_btns" class="pointer font-12px">
    <div class="menu-item login-task bg-transparent" data-toggle="modal"
        data-target="#login_modal">
        <a class="" id="btnLogin">
            Entrar
        </a>
    </div>

    <div class="menu-item login-task bg-transparent" onclick="location.href='/admin'">
        <a class="" id="btnLogout" style="" href="/admin">
            Painel
        </a>
    </div>

    <div class="menu-item login-task bg-transparent">
        <a class="" id="btnLogout2" style="">
            Sair
        </a>
    </div>
</div>